<div id="pay-form-feedback" hx-swap-oob="true">
  <div class="alert alert-danger py-2 px-3 mb-2 d-flex align-items-center" role="alert">
    <i class="fa-solid fa-triangle-exclamation me-2"></i>
    <div><%= message || 'Tafadhali angalia taarifa ulizoingiza na ujaribu tena.' %></div>
  </div>
</div>

