<!-- OOB update: completed state in the same modal -->
<h5 id="paymentModalTitle" hx-swap-oob="true" class="modal-title text-success">
  <i class="fa-solid fa-circle-check me-2"></i> Malipo Yamekamilika
</h5>

<div id="paymentModalBody" hx-swap-oob="true" class="modal-body">
  <div class="alert alert-success d-flex flex-column align-items-center mb-2">
    <i class="fa-solid fa-circle-check my-3" style="font-size: 3rem;"></i>
    <div>Hongera! Malipo yamekamilika. <br> <%= message %> <br><br> Bonyeza "Fungua VIP" kuona mikeka yetu ya VIP ya leo</div>
  </div>
  <div class="small text-muted">Order ID: <code><%= orderId %></code></div>
</div>

<div id="paymentModalFooter" hx-swap-oob="true" class="modal-footer">
  <button type="button" class="btn btn-success p-3" onclick="window.location.reload()">
    <i class="fa-solid fa-circle-check me-2"></i>
    FUNGUA VIP
  </button>
</div>
