<div class="btn-group w-100 mt-3 p-2" role="group">
    <button type="button" class="btn <%= siku === 'juzi' ? 'btn-warning' : 'btn-light' %> border border-warning" onclick="window.location.href='/mkeka/vip?date=juzi'">Juzi</button>
    <button type="button" class="btn <%= siku === 'jana' ? 'btn-warning' : 'btn-light' %> border border-warning" onclick="window.location.href='/mkeka/vip?date=jana'">Jana</button>
    <button type="button" class="btn <%= siku === 'leo' ? 'btn-warning' : 'btn-light' %> border border-warning" onclick="window.location.href='/mkeka/vip?date=leo'">Leo</button>
</div>