<section class="mvl-datebar">
    <div class="mvl-datebar__buttons" role="group" aria-label="Chagua tarehe ya VIP">
        <button type="button" class="btn <%= siku === 'juzi' ? 'btn-warning' : 'btn-light' %> border border-warning"
            onclick="window.location.href='/mkeka/vip?date=juzi'">Juzi</button>
        <button type="button" class="btn <%= siku === 'jana' ? 'btn-warning' : 'btn-light' %> border border-warning"
            onclick="window.location.href='/mkeka/vip?date=jana'">Jana</button>
        <button type="button" class="btn <%= siku === 'leo' ? 'btn-warning' : 'btn-light' %> border border-warning"
            onclick="window.location.href='/mkeka/vip?date=leo'">Leo</button>
    </div>
    <div class="mvl-datebar__current">
        <span>
            <i class="fa-solid fa-calendar-day"></i> <%= d %>
        </span>
    </div>
</section>
