<div class="nyuma p-2 border-bottom">
    <div class="mb-3">
        <label for="dateInput" class="form-label text-muted" style="font-size: 10px;">Angalia mikeka ya siku za
            nyuma</label>
        <input type="date" id="dateInput" class="form-control" onchange="redirectToDate()"
            value="<%= d.split('/').reverse().join('-') %>">
    </div>
</div>