<div class="main_cont">
    <div class="alert alert-light border-start border-warning border-4" role="alert">
        <small class="text-danger fw-bold"><i class="fa-solid fa-circle-info me-1"></i> Chagua mtandao wako hapa
            chini</small>
    </div>
    <div class="head">
        <h3 id="voda_h3">Voda</h3>
        <h3 id="tigo_h3">Tigo</h3>
        <h3 id="airtel_h3">Airtel</h3>
        <h3 id="halotel_h3">Halotel</h3>
    </div>
    <div class="mitandao_maelezo shadow rounded mx-auto">
        <div class="voda">
            <h4>VodaCom M-Pesa 🇹🇿</h4>
            <div class="card mb-3 bg-light">
                <div class="card-body py-2">
                    <small class="text-muted">Lipa kwa jina:</small>
                    <h6 class="mb-0">PAULO - VIP MIKEKA <i class="fa-solid fa-crown text-warning"></i></h6>
                </div>
            </div>
            <ul class="list-group ps-0">
                <li class="list-group-item border-0 bg-transparent text-muted"><i class="fa-solid fa-bars"></i>&nbsp;
                    Piga <strong>*150*00#</strong></li>
                <li class="list-group-item border-0 bg-transparent text-muted"><i class="fa-solid fa-bars"></i>&nbsp;
                    Chagua <strong>4.</strong> (Lipa kwa MPesa)
                </li>
                <li class="list-group-item border-0 bg-transparent text-muted"><i class="fa-solid fa-bars"></i>&nbsp;
                    Chagua <strong>1.</strong> (Lipa kwa Simu)
                </li>
                <li class="list-group-item border-0 bg-transparent text-muted"><i class="fa-solid fa-bars"></i>&nbsp;
                    Chagua <strong>1.</strong> (Ingiza Lipa Namba)
                </li>
                <li class="list-group-item border-0 bg-transparent text-muted"><i class="fa-solid fa-bars"></i>&nbsp;
                    Chagua <strong>1.</strong> (M-Pesa)</li>
                <li class="list-group-item border-0 bg-transparent text-muted"><i class="fa-solid fa-bars"></i>&nbsp;
                    Weka lipa namba
                    <span class="badge bg-dark fw-bold fs-6 px-3 py-2 ms-2 d-inline-block">8647992</span>
                </li>
                <li class="list-group-item border-0 bg-transparent text-muted"><i class="fa-solid fa-bars"></i>&nbsp;
                    Weka kiasi na PIN kisha thibitisha</li>
            </ul>
        </div>

        <!-- Tigo -->
        <div class="tigo">
            <h4>Tigo Pesa 🇹🇿</h4>
            <div class="card mb-3 bg-light">
                <div class="card-body py-2">
                    <small class="text-muted">Lipa kwa jina:</small>
                    <h6 class="mb-0">PAULO - VIP MIKEKA <i class="fa-solid fa-crown text-warning"></i></h6>
                </div>
            </div>
            <ul class="list-group ps-0">
                <li class="list-group-item border-0 bg-transparent text-muted"><i class="fa-solid fa-bars"></i>&nbsp;
                    Piga <strong>*150*01#</strong></li>
                <li class="list-group-item border-0 bg-transparent text-muted"><i class="fa-solid fa-bars"></i>&nbsp;
                    Chagua <strong>5.</strong> Lipa kwa simu</li>
                <li class="list-group-item border-0 bg-transparent text-muted"><i class="fa-solid fa-bars"></i>&nbsp;
                    Chagua Mitandao mingine</li>
                <li class="list-group-item border-0 bg-transparent text-muted"><i class="fa-solid fa-bars"></i>&nbsp;
                    Chagua M-Pesa</li>
                <li class="list-group-item border-0 bg-transparent text-muted"><i class="fa-solid fa-bars"></i>&nbsp;
                    Weka lipa namba
                    <span class="badge bg-dark fw-bold fs-6 px-3 py-2 ms-2 d-inline-block">8647992</span>
                </li>
                <li class="list-group-item border-0 bg-transparent text-muted"><i class="fa-solid fa-bars"></i>&nbsp;
                    Weka kiasi na PIN kisha thibitisha</li>
            </ul>
        </div>

        <div class="airtel">
            <h4>Airtel Money 🇹🇿</h4>
            <div class="card mb-3 bg-light">
                <div class="card-body py-2">
                    <small class="text-muted">Lipa kwa jina:</small>
                    <h6 class="mb-0">PAULO - VIP MIKEKA <i class="fa-solid fa-crown text-warning"></i></h6>
                </div>
            </div>
            <ul class="list-group ps-0">
                <li class="list-group-item border-0 bg-transparent text-muted"><i class="fa-solid fa-bars"></i>&nbsp;
                    Piga <strong>*150*60#</strong></li>
                <li class="list-group-item border-0 bg-transparent text-muted"><i class="fa-solid fa-bars"></i>&nbsp;
                    Chagua <strong>5.</strong> Lipia Bili</li>
                <li class="list-group-item border-0 bg-transparent text-muted"><i class="fa-solid fa-bars"></i>&nbsp;
                    Chagua <strong>1.</strong> Lipa kwa Simu</li>
                <li class="list-group-item border-0 bg-transparent text-muted"><i class="fa-solid fa-bars"></i>&nbsp;
                    Chagua <strong>3.</strong> M-Pesa</li>
                <li class="list-group-item border-0 bg-transparent text-muted"><i class="fa-solid fa-bars"></i>&nbsp;
                    Chagua <strong>1.</strong> M-Pesa Lipa Namba
                </li>
                <li class="list-group-item border-0 bg-transparent text-muted"><i class="fa-solid fa-bars"></i>&nbsp;
                    Weka lipa namba
                    <span class="badge bg-dark fw-bold fs-6 px-3 py-2 ms-2 d-inline-block">8647992</span>
                </li>
                <li class="list-group-item border-0 bg-transparent text-muted"><i class="fa-solid fa-bars"></i>&nbsp;
                    Weka kiasi na PIN kisha thibitisha</li>
            </ul>
        </div>
        <div class="halotel">
            <h4>Halopesa 🇹🇿</h4>
            <div class="card mb-3 bg-light">
                <div class="card-body py-2">
                    <small class="text-muted">Lipa kwa jina:</small>
                    <h6 class="mb-0">PAULO - VIP MIKEKA <i class="fa-solid fa-crown text-warning"></i></h6>
                </div>
            </div>
            <ul class="list-group ps-0">
                <li class="list-group-item border-0 bg-transparent text-muted"><i class="fa-solid fa-bars"></i>&nbsp;
                    Piga <strong>*150*88#</strong></li>
                <li class="list-group-item border-0 bg-transparent text-muted"><i class="fa-solid fa-bars"></i>&nbsp;
                    Chagua <strong>5.</strong> Lipia Bidhaa</li>
                <li class="list-group-item border-0 bg-transparent text-muted"><i class="fa-solid fa-bars"></i>&nbsp;
                    Chagua <strong>5.</strong> M-Pesa Lipa</li>
                <li class="list-group-item border-0 bg-transparent text-muted"><i class="fa-solid fa-bars"></i>&nbsp;
                    Weka namba
                    <span class="badge bg-dark fw-bold fs-6 px-3 py-2 ms-2 d-inline-block">8647992</span>
                </li>
                <li class="list-group-item border-0 bg-transparent text-muted"><i class="fa-solid fa-bars"></i>&nbsp;
                    Weka kiasi na PIN kisha thibitisha</li>
            </ul>
        </div>
    </div>
    <!-- Confirmation Instructions -->
    <!-- Step Indicator Container -->
    <div class="container text-center my-5">
        <div class="separator-with-text">
            <div class="line"></div>
            <div class="instruction">Baada ya Malipo</div>
            <div class="line"></div>
        </div>
    </div>

    <div class="m-0 p-0 w-100 <%= autopilot === true ? '' : 'd-none' %>">
        <%- include('./payment-form.ejs'); %>
    </div>
    <div class="m-0 p-0 w-100 <%= autopilot === true ? 'd-none' : '' %>">
        <%- include('./whatsapp-confirm.ejs'); %>
    </div>
</div>