<div class="alert alert-warning p-4 rounded-3 text-center shadow-sm border-start border-danger border-4">
    <div class="d-flex flex-column align-items-center">
        <i class="fa-solid fa-circle-exclamation text-danger mb-2" style="font-size: 2.5rem;"></i>
        <h4 class="text-danger fw-bold mb-3">Huwezi ona Mikeka Hii</h4>
    </div>
    <p class="mt-2 mb-0 fs-6">
        Tips za <b>VIP #3</b> ni kwa wateja waliolipia <b>Gold Plan</b>. Umelipia Silver Plan, wasiliana na Admin wetu WhatsApp kuingia kwenye Gold Plan
    </p>
</div>