<div class="alert alert-warning p-4 rounded-3 text-center shadow-sm border-start border-danger border-4 mx-2">
    <div class="d-flex flex-column align-items-center">
        <i class="fa-solid fa-circle-exclamation text-danger mb-2" style="font-size: 2.5rem;"></i>
        <h4 class="text-danger fw-bold mb-3">Huwezi ona Michezo Hii</h4>
    </div>
    <p class="mt-2 mb-0 fs-6">
        Michezo hii ya nyongeza ni kwa wateja waliolipia <b>Gold Plan</b>. Umelipia Silver Plan, wasiliana na Admin wetu WhatsApp kuingia kwenye Gold Plan
    </p>
    <br>
    <p>
        Kila siku tunatoa tips zaidi ya 5 za nyongeza kuwapa nafasi wenye mitaji midogo kuongeza wingi wa odds na kukuza mitaji yao.
    </p>
</div>