<div class="bg-light p-3 rounded mx-auto text-center shadow" style="width: 95%;">
    <div class="alert-warning-custom">
        <p class="text-danger m-0 fs-3 fw-bold">
            <i class="fa-solid fa-circle-exclamation fs-1"></i> <br>
            Huwezi ona Mikeka Hii
        </p>
    </div>
    <p class="text-muted mb-0">Tips za VIP #3 ni kwa wateja waliopo kwenye <b>Gold Plan</b> ya mikeka yetu. Umelipia Silver Plan, wasiliana na Admin wetu WhatsApp kuingia kwenye Gold Plan</p>
</div>