<div class="alert alert-warning p-4 rounded-3 text-center shadow-sm border-start border-danger border-4 mx-2 mb-4">
    <div class="d-flex flex-column align-items-center">
        <i class="fa-solid fa-circle-exclamation text-danger mb-2" style="font-size: 2.5rem;"></i>
        <h4 class="text-danger fw-bold mb-3">Huwezi ona Michezo Hii</h4>
    </div>
    <p class="mt-2 mb-0 text-start" style="font-size: 14px;">
        Michezo hii ya nyongeza ni kwa wateja waliolipia <b>Gold Plan (12,500 TZS)</b>. Umelipia Silver Plan (7,500 TZS), <a href="https://wa.me/255711935460?text=<%= encodeURIComponent(`Email: ${user?.email}\nNataka kupanda kwenye Gold Plan. Malipo yangu ya mwisho ni tarehe ${new Date(user.payments[0].paidOn).toLocaleString('en-GB', { timeZone: 'Africa/Nairobi' })}`) %>" class="link-success">wasiliana na admin wetu
        WhatsApp</a> kuingia kwenye Gold Plan.
    </p>
</div>