<!-- <div>
    <h4 class="text-center">Thibitisha Malipo</h4>
    <p>Jaza namba na jina la usajili wa line uliyotumia kufanya malipo</p>
    <form action="/user/confirm-payment" method="post" id="confirm-form">
        <div class="mb-3">
            <label for="phone" class="form-label"><i class="fa-regular fa-profile"></i> Namba:</label>
            <input type="text" pattern="[0-9]{10}" inputmode="numeric" maxlength="10" minlength="10"
                class="form-control" name="phone" required title="Jaza namba sahihi, tarakimu 10 tu"
                placeholder="Namba mf: 0756345456"
                oninvalid="this.setCustomValidity('Tafadhali jaza namba sahihi ya tarakimu 10')"
                oninput="this.setCustomValidity('')">
        </div>
        <div class="mb-3">
            <label for="name" class="form-label"><i class="fa-regular fa-profile"></i> Jina:</label>
            <input type="text" class="form-control" name="name" required title="Jaza Jina Sahihi"
                placeholder="Jina lililofanya muamala">
        </div>
        <div class="text-center mt-4">
            <button type="submit" class="bataniHub text-dark w-50"><i class="fa-solid fa-user"></i>
                Thibitisha</button>
        </div>
    </form>
</div> -->