<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-12 text-center">
            <div class="card border-0">
                <div class="card-body py-5">
                    <div class="d-flex align-items-center justify-content-center mb-3">
                        <hr class="flex-grow-1 border-2">
                        <span class="badge bg-secondary text-white mx-3 py-2 px-3 fs-6">VIP MIKEKA</span>
                        <hr class="flex-grow-1 border-2">
                    </div>
                    <h2 class="display-6 fw-bold text-secondary mb-3">Mwisho</h2>
                    <p class="text-muted mb-4" <%- user.role === 'admin' ? 'onclick="adminUpdates()"' : '' %>>Zingatia! Betting ni Burudani.. <br> Beti kistaarabu. Usibetie kiasi cha pesa ambacho kikipotea kitakuathiri.</p>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function adminUpdates() {
        let adminSection = document.getElementById('adminSection')
        let prevSection = document.getElementById('prevSection')
        prevSection.classList.toggle('d-none')
        adminSection.classList.toggle('d-none')
    }
</script>