<div class="card-body text-center p-2 shadow mx-auto" style="width: 95%;" id="lipia_maelezo">
    <div class="alert-warning-custom">
        <p class="text-danger m-0 fs-3 fw-bold">
            <i class="fa-solid fa-circle-exclamation fs-1"></i> <br>
            Huwezi ona VIP Tips za leo
        </p>
    </div>

    <p class="mt-3 text-muted">Ili kuona mikeka yetu ya VIP, bonyeza <strong>LIPIA VIP</strong> kufanya malipo yako.</p>

    <div class="bg-light p-3 rounded border">
        <p class="fw-bold mb-1">📌 Gharama (Package 1)</p>
        <p class="fs-5 text-success fw-bold my-2">Tsh. 7,500/= kwa Wiki</p>
        <p class="text-muted mb-0">Unapata tips zisizopungua 10 za <span class="fw-bold">VIP</span> na <span class="fw-bold">Fixed Matches</span> kila siku kwa wiki nzima.</p>
    </div>
    <div class="bg-light p-3 rounded border mt-4">
        <p class="fw-bold mb-1">📌 Gharama (Package 2)</p>
        <p class="fs-5 text-success fw-bold my-2">Tsh. 25,000/= kwa Mwezi</p>
        <p class="text-muted mb-0">Unapata tips zisizopungua 10 za <span class="fw-bold">VIP</span> na <span class="fw-bold">Fixed Matches</span> kila siku kwa mwezi mzima.</p>
    </div>

    <div class="text-center my-4">
        <button id="lipa-btn" onclick="fichuaMalipo()" class="bataniHub">
            <i class="fa-regular fa-credit-card"></i>
            LIPIA VIP
        </button>
    </div>
</div>


<div class="malipo-cont my-5 d-none" id="malipo-cont">
    <h3 class="bg-dark p-2 text-light fs-5 fw-bold">Fanya Malipo na Kuthibitisha</h3>
    <div class="main_cont">
        <h6 class="text-danger" id=""><sub>*chagua mtandao wako hapa chini</sub></h6>
        <div class="head">
            <h3 id="voda_h3">Voda</h3>
            <h3 id="tigo_h3">Tigo</h3>
            <h3 id="airtel_h3">Airtel</h3>
            <h3 id="halotel_h3">Halotel</h3>
        </div>
        <div class="mitandao_maelezo shadow rounded mx-auto">
            <div class="voda">
                <h4>VodaCom M-Pesa 🇹🇿</h4>
                <div class="kiasi_tag">
                    <b class="namba2">Jina: PAULO - MIKEKA VIP <i class="fa-solid fa-crown"></i></b>
                    <div class="d-flex fs-6">
                        <span class="bg-light border text-muted d-block rounded py-1 px-2 me-2" style="font-size: 12px;">7,500/= Wiki 1</span>
                        <span class="bg-light border text-muted d-block rounded py-1 px-2" style="font-size: 12px;">25,000/= Mwezi 1</span>
                    </div>
                </div>
                <ul style="list-style: circle;">
                    <li>Piga *150*00#</li>
                    <li>Chagua 4. (Lipa kwa MPesa)</li>
                    <li>Chagua 1. (Lipa kwa Simu)</li>
                    <li>Chagua 1. (Ingiza Lipa Namba)</li>
                    <li>Chagua 1. (M-Pesa)</li>
                    <li>Weka lipa namba <b class="namba">8538178</b></li>
                    <li>Weka kiasi na PIN kisha thibitisha</li>
                </ul>
            </div>
            <div class="tigo">
                <h4>Tigo Pesa 🇹🇿</h4>
                <div class="kiasi_tag">
                    <b class="namba2">Jina: PAULO - MIKEKA VIP <i class="fa-solid fa-crown"></i></b>
                    <div class="d-flex fs-6">
                        <span class="bg-light border text-muted d-block rounded py-1 px-2 me-2" style="font-size: 12px;">7,500/= Wiki 1</span>
                        <span class="bg-light border text-muted d-block rounded py-1 px-2" style="font-size: 12px;">25,000/= Mwezi 1</span>
                    </div>
                </div>
                <ul style="list-style: circle;">
                    <li>Piga *150*01#</li>
                    <li>Chagua 5. Lipa kwa simu</li>
                    <li>Chagua Mitandao mingine</li>
                    <li>Chagua M-Pesa</li>
                    <li>Weka lipa namba <b class="namba">8538178</b></li>
                    <li>Weka kiasi na PIN kisha thibitisha</li>
                </ul>
            </div>
            <div class="airtel">
                <h4>Airtel Money 🇹🇿</h4>
                <div class="kiasi_tag">
                    <b class="namba2">Jina: PAULO - MIKEKA VIP <i class="fa-solid fa-crown"></i></b>
                    <div class="d-flex fs-6">
                        <span class="bg-light border text-muted d-block rounded py-1 px-2 me-2" style="font-size: 12px;">7,500/= Wiki 1</span>
                        <span class="bg-light border text-muted d-block rounded py-1 px-2" style="font-size: 12px;">25,000/= Mwezi 1</span>
                    </div>
                </div>
                <ul style="list-style: circle;">
                    <li>Piga *150*60#</li>
                    <li>Chagua 5. Lipia Bili</li>
                    <li>Chagua 1. Lipa kwa Simu</li>
                    <li>Chagua 3. M-Pesa</li>
                    <li>Chagua 1. M-Pesa Lipa Namba</li>
                    <li>Weka lipa namba <b class="namba">8538178</b></li>
                    <li>Weka kiasi na PIN kisha thibitisha</li>
                </ul>
            </div>
            <div class="halotel">
                <h4>Halopesa 🇹🇿</h4>
                <div class="kiasi_tag">
                    <b class="namba2">Jina: PAULO - MIKEKA VIP <i class="fa-solid fa-crown"></i></b>
                    <div class="d-flex fs-6">
                        <span class="bg-light border text-muted d-block rounded py-1 px-2 me-2" style="font-size: 12px;">7,500/= Wiki 1</span>
                        <span class="bg-light border text-muted d-block rounded py-1 px-2" style="font-size: 12px;">25,000/= Mwezi 1</span>
                    </div>
                </div>
                <ul style="list-style: circle;">
                    <li>Piga *150*88#</li>
                    <li>Chagua 5. Lipia Bidhaa</li>
                    <li>Chagua 5. M-Pesa Lipa</li>
                    <li>Weka namba <b class="namba">8538178</b></li>
                    <li>Weka kiasi na PIN kisha thibitisha</li>
                </ul>
            </div>
        </div>
        <br>
        <div class="malipo shadow rounded p-3">
            <p class="text-muted" style="font-size: 13px;">
                Baada ya malipo tafadhali tutumie screenshot ya muamala pamoja na email yako
                <b>"<%= user.email %>"</b> ili kuthibitishwa na kupata access ya mikeka yetu ya VIP
            </p>
            <div class="social" style="width: 98%; margin: auto;">
                <h4 style="font-size: 16px; font-weight: bold;">Tutumie:</h4>
                <div class="tsap">
                    <i class="fa-brands fa-whatsapp"></i>
                    <b>WhatsApp: <a href="https://wa.me/+254769028387">+254 769 028 387</a></b>
                </div>
            </div>
        </div>
        <%- include('./payment-form.ejs'); %>
    </div>
</div>

<br><br><br>
<hr class="style-eight">

<div class="shindi_zanyuma bg-light py-5">
    <h2 class="text-dark text-center">Angalia Shindi Zetu za Nyuma</h2>
    <%- include('./shindi-za-nyuma.ejs'); %>
</div>