<div id="lipia_maelezo"></div>
<%- include('./paywall-card.ejs'); %>
<br><hr><br>
<%- include('./extras/locked-betslips.ejs'); %>
<br><hr><br>

<!-- Matokeo ya nyuma -->
 <%- include('./extras/matokeo-betslip.ejs'); %>

<!-- Global Payment Modal (shared by HTMX fragments) -->
<%- include('./modal-payment.ejs'); %>