<div id="lipia_maelezo"></div>
<%- include('./paywall-card.ejs'); %>
<br>
<%- include('./extras/locked-betslips.ejs'); %>
<br><hr><br>

<!-- Matokeo ya nyuma -->
<%- include('./extras/matokeo-betslip.ejs'); %>

<!-- Global Payment Modal (shared by HTMX fragments) -->
<div class="modal fade" id="globalPaymentModal" tabindex="-1" aria-hidden="true" data-bs-backdrop="static"
    data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content rounded-4">
            <div class="modal-header">
                <h5 id="paymentModalTitle" class="modal-title">
                    <i class="fa-solid fa-wallet me-1"></i> Malipo Tanzania 🇹🇿
                </h5>
                <button type="button" class="btn-close" aria-label="Close" onclick="window.location.reload()"></button>
            </div>
            <div id="paymentModalBody" class="modal-body">
                <!-- HTMX will inject the payment form here -->
                <div class="d-flex justify-content-center align-items-center">
                    <div class="spinner-border text-dark mx-auto" role="status" style="height: 3rem; width: 3rem;">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            </div>
            <div id="paymentModalFooter" class="modal-footer">
                
            </div>
        </div>
    </div>
</div>