<div class="intro">
    <h1 class="fs-3 p-2">Kufuzu Kombe la Dunia 2026: Msimamo wa Makundi Africa, Ratiba, na Matokeo</h1>
    <p class="p-2">
        Mashindano ya kufuzu kombe la dunia 2026 ya <strong>Afrika (CAF World Cup Qualifications)</strong>
        yameanza rasmi
        <strong>13 Novemba 2023</strong> na kumalizika mnamo <strong>Novemba 2025</strong>. Huu ni mchakato
        wa muda mrefu ambao utahusisha hatua kadhaa za makundi pamoja na michezo ya mtoano (Play-off) ili
        kupata timu bora za kuiwakilisha Afrika kwenye <em>Kombe la Dunia 2026 nchini Marekani, Canada, na
            Mexico</em>.
    </p>
    <ul class="">
        <li>
            Timu <strong>tisa</strong> kutoka Afrika zitafuzu moja kwa moja kwenda Kombe la Dunia 2026.
        </li>
        <li>
            Timu moja (ya kumi) itaingia katika <strong>FIFA Play-off Tournament</strong> ya Kimataifa
            kupigania nafasi ya mwisho.
        </li>
    </ul>
</div>