<div>
    <h2 class="h2" style="font-size: 16px;">Maana ya Under/Over 2.5</h2>
    <div class="p">
        <p>
        Utabiri wa <strong>Under/Over 2.5</strong> unahusisha jumla ya magoli yote kufungwa
        na timu zote mbili katika mechi moja – iwe ni chini au zaidi ya magoli 2.5.
        Ni aina maarufu ya beti inayopendwa na watumiaji wengi kutokana na
        <strong>odds nzuri</strong> na matokeo yanayofurahisha, hasa kwenye ligi
        kubwa za Ulaya na Afrika.
    </p>

    <ul style="list-style: circle;">
        <li>
            <strong>Over 2.5:</strong> Jumla ya magoli ni zaidi ya mawili. Mfano wa matokeo ya ushindi ni: <code>2:1, 2:2, 3:0, 3:1, 3:2, 3:3, 4:0, 4:1, 4:2, 4:3, 4:4, n.k</code>
        </li>
        <li>
            <strong>Under 2.5:</strong> Jumla ya magoli ni chini ya matatu. Mfano wa matokeo ya ushindi ni: <code>0:0, 1:0, 0:1, 1:1, 2:0, 0:2</code>
        </li>
    </ul>
    </div>
</div>