<div>
    <h2 class="h2" style="font-size: 16px;">Maana ya Under/Over 2.5</h2>
    <p class="p">
        <b class="brown">Over 2.5:</b> Over 2.5 hapa tunatabiri jumla ya magoli matatu au zaidi kupatikana
        kwenye match husika. Matokeo haya ni ushindi <b>2:1, 2:2, 3:0, 3:1, 3:2, 3:3, 4:0, 4:1, 4:2, 4:3, 4:4, 1:2, 0:3, 1:3, 2:3, 0:4, 1:4, 2:4, 3:4,
            n.k</b>
    </p>
    <p class="p">
        <b class="brown">Under 2.5:</b> Under 2.5 hapa tunatabiri jumla ya magoli yote kwenye match husika
        yawe chini ya matatu, tofauti na hapo tumepoteza. Matokeo haya ni ushindi <b>0:0, 1:0, 1:1, 2:0, 0:1 na 0:2</b>
    </p>
</div>