<div class="halotel">
    <div class="card bg-light mt-2 mb-3" style="font-size:13px">
        <div class="card-body py-2">
            <h6 style="font-size: 14px;"><i class="fa-solid fa-bars"></i> Jinsi ya Kulipa kwa Halotel</h6>
            <ul class="mb-0" style="list-style: circle; padding-left: 12px;">
                <li>Piga <code class="fw-bold">*150*88#</code></li>
                <li>Chagua Lipia Bidhaa</li>
                <li>Chagua Mixx by Yas Lipa</li>
                <li>Weka lipa namba <code class="fw-bold">44342026</code></li>
                <li>Weka kiasi na PIN kisha thibitisha</li>
            </ul>
        </div>
    </div>
</div>
