<br>
<section class="faq">
    <h2 class="h2 fs-6">Maswali Yalioulizwa Mara kwa Mara</h2>
    <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
          <h3 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
              Ligi Kuu ya NBC Tanzania Bara ina jumla ya timu ngapi?
            </button>
          </h3>
          <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">
              <p>
                Ligi kuu ya NBC Tanzania Bara kwa msimu wa 2024/2025 ina jumla ya timu 16 ambapo kati ya hizo, timu inayoshikilia nafasi ya 1 na ya 2 zitashiriki CAF Champions League na timu inayoshikilia nafasi ya 3 itashiriki CAF Confederation Cup.
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h3 class="accordion-header" id="panelsStayOpen-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
              Nini maana ya Relegation na Relegation Playoff kwenye msimamo wa Ligi Kuu Bara?
            </button>
          </h3>
          <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
            <div class="accordion-body">
              <p>
                Katika msimamo wa ligi kuu bara, "<b>Relegation</b>" na "<b>Relegation Play-Off</b>" zinahusiana na kushushwa daraja (au kuepuka kushushwa daraja) kwa timu zilizopo mwishoni mwa msimamo wa ligi. Hizi maana yake ni: 
              </p>
              <h4>Relegation</h4>
              <ul>
                <li>Hii inahusu timu mbili zinazoshika nafasi ya chini kabisa kwenye msimamo wa ligi kuu bara kufuatia mwisho wa msimu.</li>
                <li>Timu hizi hushushwa kutoka ligi kuu kwenda ligi daraja la pili (NBC Championship)</li>
                <li>Idadi ya timu zinazoshushwa mara nyingi kwa ligi kuu  bara huwa ni timu mbili za mwisho.</li>
              </ul>
              <h4>Relegation Playoff (Mchujo wa Kushushwa Daraja)</h4>
              <ul>
                <li>Katika Ligi Kuu, timu zinazoingia kwenye "Relegation Playoff" mara nyingi ni zile zinazokaribia kushushwa daraja, lakini bado zinapewa nafasi ya mwisho kujinusuru.</li>
                <li>Kwa msimu wa 2024/2025 timu zitakazo kuwa kwenye "Relegation Playoff" ni timu zitakazo shikilia nafasi ya 13 na 14</li>
                <li>Hizi timu hushindana dhidi ya timu zinazotaka kupanda daraja kutoka ligi daraja la pili</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h3 class="accordion-header" id="panelsStayOpen-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
              Msimu wa 2024/2025 wa NBC Ligi Kuu Bara ulianza lini?
            </button>
          </h3>
          <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
            <div class="accordion-body">
              <p>Ratiba ya Ligi Kuu ya NBC Bara 2024/2025 ilianza tarehe 16/08/2024 saa kumi jioni (04:00 PM) kwa mechi ya ufunguzi kati ya <b>Pamba Jiji</b> na <b>Tanzania Prisons</b> iliyoisha kwa sare ya <b>0:0</b></p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
            <h3 class="accordion-header" id="panelsStayOpen-headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                Timu zipi ni vinara wa ligi kuu Tanzania Bara mara kwa mara?
              </button>
            </h3>
            <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
              <div class="accordion-body">
                <p>Timu mbili vinara wa mara kwa mara kwa ligi kuu Tanzania Bara ni <b>Young Africans (Yanga SC) na Simba SC</b></p>
                <h4>Mataji ya ligi kuu:</h4>
                <ul>
                    <li>Young Africans inaongoza kwa mataji (makombe) ya ligi kuu Tanzania ikiwa na jumla ya mataji 30 hadi kufikia mwisho wa msimu wa 2023/2024</li>
                    <li>Inafuatiwa na Simba SC yenye jumla ya mataji 22 ya ligi kuu hadi kufikia mwisho wa msimu wa 2023/2024</li>
                </ul>
              </div>
            </div>
          </div>
      </div>
</section>