<div class="aff">
    <h4 class="comp"><b>Gal Sport Betting Tanzania</b></h4>
    <h4>
        <i class="fa-solid fa-circle-check"></i>
        Bonus ya 100% kwa mteja mpya! 🤑
    </h4>
    <h4>
        <i class="fa-solid fa-circle-check"></i>
        FreeBet hadi Tsh. 25,000 kila weekend!
    </h4>
    <h4>
        <i class="fa-solid fa-circle-check"></i>
        Cashout inapatikana muda wote
    </h4>
    <h4>
        <i class="fa-solid fa-circle-check"></i>
        Aviator Rahisi Kuliko! ✈
    </h4>
    <div class="sasa">
        <button onclick="window.open('/gsb/register')"><i class="fa-solid fa-user"></i> BONYEZA HAPA KUJISAJILI
            <i class="fa-solid fa-square-arrow-up-right"></i></button>
        <br>
    </div>
</div>