<div class="aff">
    <h4 class="comp"><b>BetWay (Baba Lao 🤑)</b></h4>
    <h4>
        <i class="fa-solid fa-circle-check"></i>
        Bonus ya 100% kwa mteja mpya!
    </h4>
    <h4>
        <i class="fa-solid fa-circle-check"></i>
        Bonus ya hadi 700% kwenye mkeka wako
    </h4>
    <h4>
        <i class="fa-solid fa-circle-check"></i>
        Bilionea Jackpot. Bilioni 5 kwa BUKU TU!
    </h4>
    <h4>
        <i class="fa-solid fa-circle-check"></i>
        Aviator Ofa. Bashiri za bure kila siku!
    </h4>
    <div class="sasa">
        <button onclick="window.open('/betway-tz/register')"><i class="fa-solid fa-user"></i> BONYEZA HAPA KUJISAJILI
            <i class="fa-solid fa-square-arrow-up-right"></i></button>
        <br>
    </div>
</div>