<div class="halotel">
    <div class="card mb-3 bg-light">
        <%- include('./number-pill.ejs'); %>
    </div>
    <div class="card bg-light mt-2 mb-3" style="font-size:12px">
        <div class="card-body py-2">
            <h6 style="font-size: 14px;"><i class="fa-solid fa-bars"></i> Jinsi ya Kulipia</h6>
            <p class="mb-0">
                Piga <code>*150*88#</code>, chagua Lipia Bidhaa >> M-Pesa Lipa >> weka namba <code class="fw-bold">8647992</code> >> weka kiasi na PIN kisha thibitisha
            </p>
        </div>
    </div>
</div>
