<div class="tigo">
    <div class="card mb-3 bg-light">
        <%- include('./number-pill.ejs'); %>
    </div>
    <div class="card bg-light mt-2 mb-3" style="font-size:13px">
        <div class="card-body py-2">
            <h6 style="font-size: 14px;"><i class="fa-solid fa-bars"></i> Jinsi ya Kulipa kwa Yas</h6>
            <ul class="mb-0" style="list-style: circle; padding-left: 12px;">
                <li>Piga <code class="fw-bold">*150*01#</code>, nenda Lipa kwa Simu</li>
                <li>Chagua Mitandao Mingine, kisha M-Pesa</li>
                <li>Weka lipa namba <code class="fw-bold">8647992</code></li>
                <li>Weka kiasi na PIN kisha thibitisha</li>
            </ul>
        </div>
    </div>
</div>
