<div class="voda">
    <div class="card mb-3 bg-light">
        <%- include('./number-pill.ejs'); %>
    </div>
    <div class="card bg-light mt-2 mb-3" style="font-size:13px">
        <div class="card-body py-2">
            <h6 style="font-size: 14px;"><i class="fa-solid fa-bars"></i> Jinsi ya Kulipa kwa Voda</h6>
            <ul class="mb-0" style="list-style: circle; padding-left: 12px;">
                <li>Piga <code class="fw-bold">*150*00#</code>, nenda Lipa kwa M-Pesa</li>
                <li>Chagua Lipa kwa Simu</li>
                <li>Chagua Ingiza Lipa Namba</li>
                <li>Chagua Mixx by Yas</li>
                <li>Weka lipa namba <code class="fw-bold">44342026</code></li>
            </ul>
        </div>
    </div>
</div>
