<div>
    <h2 class="h2" style="font-size: 16px;">Maana ya Under/Over 1.5</h2>
    <p class="p">
        <b class="brown">Over 1.5:</b> Over 1.5 hapa tunatabiri jumla ya magoli mawili au zaidi kupatikana
        kwenye match husika. Matokeo haya ni ushindi <b>1:1, 2:0, 0:2, 2:1, 1:2, 2:2, 3:0, 3:1, 3:2, 3:3
            n.k</b>
    </p>
    <p class="p">
        <b class="brown">Under 1.5:</b> Under 1.5 hapa tunatabiri jumla ya magoli yote kwenye match husika
        yawe chini ya mawili, tofauti na hapo tumepoteza. Matokeo haya ni ushindi <b>0:0, 1:0, 0:1.</b>
    </p>
</div>