<select name="bet" id="bet" required>
    <option value="0">*select bet option</option>
    <option value="Total. 1st half: Under 1.5">Total. 1st half: Under 1.5</option>
    <option value="Home Win">** Home Win **</option>
    <option value="Away Win">** Away Win **</option>
    <option value="HT/FT: (1/1)">HT/FT 1/1</option>
    <option value="HT/FT: (2/2)">HT/FT 2/2</option>
    <option value="Double Chance: (1X)">DC 1X</option>
    <option value="Double Chance: (X2)">DC X2</option>
    <option value="Double Chance: (12)">DC 12</option>
    <option value="Double chance. 1st half: (12)">DC. 1st half: 12</option>
    <option value="Total: (Over 1.5)">Over 1.5</option>
    <option value="Total: (Over 2.5)">Over 2.5</option>
    <option value="Total: (Under 3.5)">Under 3.5</option>
    <option value="Home total: (Over 1.5)">** Home: Over 1.5 **</option>
    <option value="Away total: (Over 1.5)">** Away: Over 1.5 **</option>
    <option value="Both teams to score: (YES)">GG - Yes</option>
    <option value="1st half: both to score: (NO)">1st half GG - NO</option>
    <option value="Goal Scored in both halves: (YES)">Goal in both halves</option>
    <option value="Goal. From 1 to 15 minute: (NO)">** Goal 1-15 NO **</option>
</select>