<select name="bet" id="p_option" required>
    <option value="0">*select bet option</option>
    <option value="1st Half Total: (OVER 0.5)">1st Half - Over 0.5</option>
    <option value="1st Half Total: (UNDER 1.5)">1st Half - Under 1.5</option>
    <option value="1st half - Double Chance: (1 or 2)">1st Half - DC 12</option>
    <option value="1st Half Multi Goals: (1 - 2)">1st Half Multi Goals 1 - 2</option>
    <option value="Home Win">** Home Win **</option>
    <option value="Away Win">** Away Win **</option>
    <option value="Halftime/Fulltime: (1/1)">HT/FT 1/1</option>
    <option value="Halftime/Fulltime: (2/2)">HT/FT 2/2</option>
    <option value="DC & BTS: (1X & YES)">1X & YES</option>
    <option value="DC & BTS: (X2 & YES)">X2 & YES</option>
    <option value="DC & BTS: (12 & YES)">12 & YES</option>
    <option value="1X2 & Total: (1 & Over 1.5)">1 & Over 1.5</option>
    <option value="1X2 & Total: (2 & Over 1.5)">2 & Over 1.5</option>
    <option value="1X2 & BTS: (1 & YES)">1 & GG</option>
    <option value="1X2 & BTS: (2 & YES)">2 & GG</option>
    <option value="Double Chance: (1X)">DC 1X</option>
    <option value="Double Chance: (X2)">DC X2</option>
    <option value="Double Chance: (12)">DC 12</option>
    <option value="Total: (Over 1.5)">Over 1.5</option>
    <option value="Total: (Over 2.5)">Over 2.5</option>
    <option value="Total: (Under 3.5)">Under 3.5</option>
    <option value="BTS & Total: (Yes & Over 2.5)">GG & Over 2.5</option>
    <option value="1st Half First Team to score: (1)">HT 1st to score 1</option>
    <option value="Home total: (Over 1.5)">** Home: Over 1.5 **</option>
    <option value="Away total: (Over 1.5)">** Away: Over 1.5 **</option>
    <option value="Both teams to score: (YES)">GG - Yes</option>
    <option value="1st half: both to score: (NO)">1st half GG - NO</option>
    <option value="Home to Score in Both Halves: (YES)">Home score both halves (Yes)</option>
    <option value="Home to Win Both Halves? (YES)">Home win both halves</option>
    <option value="Goal Between 1 - 15 Mins: (No)">First 15 Minutes: (No)</option>
    <option value="Goal Bands 2-4: (Yes)">Goal Bands 2-4</option>
    <option value="First 10 Minutes: (X)">First 10 Minutes: (X)</option>
</select>