<select name="bet" id="bet" required>
    <option value="0">*select bet option</option>
    <option value="Total. 1st half: Over 0.5">Total. 1st half: Over 0.5</option>
    <option value="Total. 1st half: Under 1.5">Total. 1st half: Under 1.5</option>
    <option value="Home Win">Home Win</option>
    <option value="Away Win">Away Win</option>
    <option value="Home Win & Over 1.5">Home win & Ov1.5</option>
    <option value="Away Win & Over 1.5">Away win & Ov1.5</option>
    <option value="Home to win 1st half">Home Win 1st half</option>
    <option value="Away to win 1st half">Away Win 1st half</option>
    <option value="Double Chance: 1X">DC 1X</option>
    <option value="Double Chance: X2">DC X2</option>
    <option value="Double Chance: 12">DC 12</option>
    <option value="DC 1X & Over 1.5">DC 1X & Over 1.5</option>
    <option value="DC X2 & Over 1.5">DC X2 & Over 1.5</option>
    <option value="Home to win both halves">Home win both halves - YES</option>
    <option value="Over 1.5">Over 1.5</option>
    <option value="Over 2.5">Over 2.5</option>
    <option value="Under 3.5">Under 3.5</option>
    <option value="Home total: Over 0.5">Home: Over 0.5</option>
    <option value="Home total: Over 1.5">Home: Over 1.5</option>
    <option value="Both teams to score? - YES">GG - Yes</option>
    <option value="1st half: both to score? - NO">1st half GG - NO</option>
    <option value="Goal Bands: 2 - 4">Goal Bands 2-4</option>
    <option value="Goal Bands: 2 - 5">Goal Bands 2-5</option>
    <option value="Goal in both halves? - YES">Goal in both halves</option>
    <!-- <option value="1st Half Multigoals: 1 - 2">1st mult 1-2</option>
    <option value="1st Half Multigoals: 1 - 3">1st mult 1-3</option>
    <option value="GG & Over 2.5">GG & Over 2.5</option> -->
</select>