<div class="maana">
    <div class="maana-vifupi">
        <h2 class="h2" id="maana-vifupi" style="font-size: 16px;">
            Maana ya Double Chance (DC) kwenye Betting
        </h2>
        <p class="p">
            <b>Double Chance (DC)</b> ni aina ya kubashiri mpira ambapo unachagua matokeo mawili kati ya matatu ya
            mchezo mmoja.
            Hii ni mbinu maarufu sana kwenye <b>betting</b> kwa sababu inapunguza risk ya kupoteza bet.
            Badala ya kubet matokeo moja tu, unakuwa na uhakika zaidi kwa kuchukua nafasi mbili.
        </p>

        <h3 class="h5 ps-4 mt-2 fw-semibold">Machaguo ya Double Chance (DC):</h3>
        <ul>
            <li>
                <b class="brown">1X</b> – <b>Double Chance Home/Draw</b>.
                Hapa unatabiri <b>timu ya nyumbani kushinda au kutoa sare</b>.
                Mfano: Simba SC vs Mtibwa Sugar.
                Ukiweka <b>1X</b>, mkeka wako utatiki iwapo Simba ataibuka na ushindi au wakimaliza sare.
                Hii ni bet nzuri kama timu ya nyumbani ina rekodi nzuri nyumbani lakini una wasiwasi na sare.
            </li>

            <li>
                <b class="brown">X2</b> – <b>Double Chance Draw/Away</b>.
                Hapa unatabiri <b>timu ya ugenini kushinda au kutoa sare</b>.
                Mfano: Ihefu FC vs Yanga SC.
                Ukiweka <b>X2</b>, mkeka wako unashinda iwapo Yanga ataondoka na pointi zote tatu au wakimaliza sare.
                Hii hutumika sana pale timu kubwa inapocheza ugenini lakini unahofia mchezo unaweza kuishia draw.
            </li>

            <li>
                <b class="brown">12</b> – <b>Double Chance Home/Away</b>.
                Hapa unatabiri <b>kutakuwa na mshindi tu, bila sare</b>.
                Mfano: Azam FC vs Simba SC.
                Ukiweka <b>12</b>, mkeka wako unashinda iwapo aidha Azam au Simba watashinda.
                Sare pekee ndiyo inayoweza kufanya bet yako ipotee.
                Hii hutumika zaidi kwenye mechi kali zinazotarajiwa kuwa na matokeo ya lazima.
            </li>
        </ul>
    </div>
</div>