<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%- include('../0-global/vip-styles.ejs'); %>
  <%- include('../0-global/fonts.ejs'); %>
  <%- include('./partials/style.ejs'); %>
  <title>Reset VIP Password - Mkeka wa Leo</title>
</head>

<body>
  <div class="d-flex justify-content-center align-items-center vh-100" style="background-color: var(--primary-bg);">
    <div class="login-form text-light h-auto rounded p-3">
      <div class="titleform fs-3 text-center mb-5 fw-bold">Reset <span class="hubColor">Password</span></div>
      <%- include('../0-global/messages.ejs'); %>
      <form action="/user/forgot-password" method="post">
        <div class="mb-3">
          <label for="email" class="form-label"><i class="fa-regular fa-envelope"></i> Email</label>
          <input type="email" class="form-control" name="email" required title="Ingiza Email sahihi" placeholder="Email">
        </div>
        <div class="text-center mt-4">
          <button type="submit" class="bataniHub text-dark w-50"><i class="fa-solid fa-user"></i> Reset</button>
        </div>
      </form>
      <div class="foot text-center mt-3">
        <p>Umekumbuka password yako? <a href="/user/login" class="hubColor">Login</a></p>
      </div>
    </div>
  </div>
</body>
</html>