<li class="list-kampani">
    <div class="card">
        <img src="/imgs/kampuni/88bet-400x200.webp" class="card-img-top" alt="Bonus 888bet Tanzania"
            onclick="window.open('/888bet/register')">
        <div class="card-body">
            <h5 class="card-title">888bet Tanzania</h5>
            <p class="card-text">Kampuni kubwa kwa uwekezaji, jackpots na kwa michezo ya kubashiri kwa sasa Tanzania ni 888bet.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><i class="fa-solid fa-circle-check"></i> Machaguo mengi ya kubashiri</li>
            <li class="list-group-item"><i class="fa-solid fa-circle-check"></i> Bonus ya 100% kwa mteja mpya pamoja na Tsh. 10,000 ya bure kwenye aviator</li>
            <li class="list-group-item"><i class="fa-solid fa-circle-check"></i> Mkusanyo wa bonus kwa kila mkeka wenye mechi mbili au zaidi (bonus inalipwa kwa pesa taslimu)
            </li>
            <li class="list-group-item"><i class="fa-solid fa-circle-check"></i> BetBuilder. Tumia BetBuilder kubet machaguo zaidi ya moja kwenye mechi moja (nafasi nzuri ya kupata odds nyingi ndani ya mchezo mmoja)</li>
            <li class="list-group-item"><i class="fa-solid fa-circle-check"></i> Aviator MVUA 🌧 - BASHIRI ZA BURE KILA SIKU! na TSh 4,200,000 Kila Wiki!</li>
            <li class="list-group-item"><i class="fa-solid fa-circle-check"></i> Michezo mingi ya Casino</li>
            <li class="list-group-item"><i class="fa-solid fa-circle-check"></i> Website na App nyepesi inayokupa uwezo
                mzuri wa kubet kwa uharaka pasipo kukwama kwama</li>
            <li class="list-group-item"><i class="fa-solid fa-circle-check"></i> Karibu ofa ya AVIATOR ✈ - Pata bashiri ya bure ya Aviator hadi Tsh. 10,000 unapoweka pesa kwa mara ya kwanza!</li>
            <li class="list-group-item"><i class="fa-solid fa-circle-check"></i> Weka na Toa pesa kwa mitandao yote ya
                simu Tanzania</li>
        </ul>
        <div class="card-body link-cont">
            <a href="/888bet/register" rel="nofollow noopener" target="_blank" class="card-link">Jisajili Sasa</a>
            <a href="/888bet/register" rel="nofollow noopener" target="_blank" class="card-link">Bonus 100%</a>
        </div>
    </div>
</li>

<li class="list-kampani">
    <div class="card">
        <img src="/imgs/kampuni/gsb360x239.png" class="card-img-top" alt="Bonus Gal Sport Betting"
            onclick="window.open('/gsb/register')">
        <div class="card-body">
            <h5 class="card-title">Gal Sport Betting</h5>
            <p class="card-text">Kampuni namba moja kwa michezo ya kubashiri kwa sasa Tanzania ni Gal Sport Betting.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><i class="fa-solid fa-circle-check"></i> Machaguo mengi ya kubashiri</li>
            <li class="list-group-item"><i class="fa-solid fa-circle-check"></i> Bonus ya 200% kwa mteja mpya</li>
            <li class="list-group-item"><i class="fa-solid fa-circle-check"></i> Rudishiwa dau lako mechi moja ikichana
            </li>
            <li class="list-group-item"><i class="fa-solid fa-circle-check"></i> 50X Refund kwa mkeka uliochanika kwa
                zaidi ya mechi moja</li>
            <li class="list-group-item"><i class="fa-solid fa-circle-check"></i> Michezo mingi ya Casino</li>
            <li class="list-group-item"><i class="fa-solid fa-circle-check"></i> Website na App nyepesi inayokupa uwezo
                mzuri wa kubet kwa uharaka pasipo kukwama kwama</li>
            <li class="list-group-item"><i class="fa-solid fa-circle-check"></i> Hii ndio kampuni yenye maduka mengi kwa
                sasa Tanzania ikiwa na duka karibu kila wilaya nchi nzima</li>
            <li class="list-group-item"><i class="fa-solid fa-circle-check"></i> Weka na Toa pesa kwa mitandao yote ya
                simu pamoja na Prepaid Cards</li>
        </ul>
        <div class="card-body link-cont">
            <a href="/gsb/register" rel="nofollow noopener" target="_blank" class="card-link">Jisajili Sasa</a>
            <a href="/gsb/register" rel="nofollow noopener" target="_blank" class="card-link">Bonus 100%</a>
        </div>
    </div>
</li>

<li class="list-kampani">
    <div class="card">
        <img src="/imgs/kampuni/premier360x180.jpg" class="card-img-top" alt="Bonus PremierBet Tanzania"
            onclick="window.open('/premier/register')">
        <div class="card-body">
            <h5 class="card-title">PremierBet Tanzania</h5>
            <p class="card-text">
                Kampuni nyingine bora kwa michezo ya kubashiri nchini Tanzania ni PremierBet. PremierBet pia ni miongoni mwa kampuni zinazoongoza kuwa na maduka mengi sana Tanzania na ikiwa ni kampuni mojawapo kongwe. <br><br>
                PremierBet Tanzania wanakuja na Ofa na Faida zifuatazo
            </p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><i class="fa-solid fa-circle-check"></i> Machaguo mengi ya kubashiri</li>
            <li class="list-group-item"><i class="fa-solid fa-circle-check"></i> Rudishiwa hadi mara 10 ya dau lako mechi moja ikichana mkeka</li>
            <li class="list-group-item"><i class="fa-solid fa-circle-check"></i> Bonus ya 200% kwa michezo ya slots kwa mteja mpya kwenye
                deposit ya kwanza</li>
            <li class="list-group-item"><i class="fa-solid fa-circle-check"></i> Bonus za Bure kila wiki kwenye account yako</li>
            <li class="list-group-item"><i class="fa-solid fa-circle-check"></i> Jipatie Tsh. 2,000 bure kila siku ukibet mkeka wa mechi 11 au zaidi</li>
            <li class="list-group-item"><i class="fa-solid fa-circle-check"></i> Loyalty Club itakayokupa Free bets kila wiki</li>
            <li class="list-group-item"><i class="fa-solid fa-circle-check"></i> Jackpot ya hadi Tsh. 700,000,000 kila siku</li>
            <li class="list-group-item"><i class="fa-solid fa-circle-check"></i> Maswali 8 kila siku kugombania Tsh. 60,000,000. Kujibu na kucheza ni bure
            </li>
            <li class="list-group-item"><i class="fa-solid fa-circle-check"></i> Bonus ya hadi 1,000% kwenye mkeka wako wa mechi 3 na kuendelea</li>
            <li class="list-group-item"><i class="fa-solid fa-circle-check"></i> Weka na Toa pesa kwenye account yako
                kwa mitandao yote ya simu</li>
        </ul>
        <div class="card-body link-cont">
            <a href="/premier/register" rel="nofollow noopener" target="_blank" class="card-link">Jisajili Sasa</a>
            <a href="/premier/register" rel="nofollow noopener" target="_blank" class="card-link">Bonus 200%</a>
        </div>
    </div>
</li>

<li class="list-kampani">
    <div class="card">
        <img src="/imgs/kampuni/pmatch360x244.jpg" class="card-img-top" alt="Bonus Parimatch Tz"
            onclick="window.open('/pmatch/register')">
        <div class="card-body">
            <h5 class="card-title">Parimatch Tanzania</h5>
            <p class="card-text">Kwenya kampuni namba tatu bora kwa michezo ya kubashiri na casino mtandaoni tuko na
                Parimatch. Ukiachana na Tanzania, Parimatch ni mojawapo ya kampuni kubwa za betting duniani. <br><br>
                Parimatch wanakuja na ofa zifuatazo:</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><i class="fa-solid fa-circle-check"></i> Machaguo mengi ya kubashiri</li>
            <li class="list-group-item"><i class="fa-solid fa-circle-check"></i> Bonus ya 150% kwa mteja mpya</li>
            <li class="list-group-item"><i class="fa-solid fa-circle-check"></i> Cashback ya 5% kila ukibet na parimatch
            </li>
            <li class="list-group-item"><i class="fa-solid fa-circle-check"></i> Cashout inapatikana muda wote</li>
            <li class="list-group-item"><i class="fa-solid fa-circle-check"></i> Urahisi wa kujisajili</li>
            <li class="list-group-item"><i class="fa-solid fa-circle-check"></i> Weka na Toa pesa kwa mitandao yote ya
                simu</li>
        </ul>
        <div class="card-body link-cont">
            <a href="/pmatch/register" rel="nofollow noopener" target="_blank" class="card-link">Jisajili Sasa</a>
            <a href="/pmatch/register" rel="nofollow noopener" target="_blank" class="card-link">Bonus 150%</a>
        </div>
    </div>
</li>

<li class="list-kampani">
    <div class="card">
        <img src="/imgs/kampuni/betway360x180.jpeg" class="card-img-top" alt="Bonus Betway Tanzania"
            onclick="window.open('/betway/register')">
        <div class="card-body">
            <h5 class="card-title">BetWay Tanzania</h5>
            <p class="card-text">Kwenye kampuni bora za michezo ya kubashiri Tanzania, namba nne inashikiliwa na
                BetWay.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><i class="fa-solid fa-circle-check"></i> Machaguo mengi ya kubashiri</li>
            <li class="list-group-item"><i class="fa-solid fa-circle-check"></i> Bonus ya 50% kwa mteja mpya</li>
            <li class="list-group-item"><i class="fa-solid fa-circle-check"></i> Shinda mgao wa milioni 100 kila mwezi
            </li>
            <li class="list-group-item"><i class="fa-solid fa-circle-check"></i> Cash-out inapatikana muda wote</li>
            <li class="list-group-item"><i class="fa-solid fa-circle-check"></i> Inatoa BetBuilder. Tumia BetBuilder
                kubet machaguo zaidi ya moja kwenye mechi moja</li>
            <li class="list-group-item"><i class="fa-solid fa-circle-check"></i> Pata zaidi ukiweka pesa kila Jumanne.
                Weka pesa upate pesa taslimu, Free Bets na zawadi nyinginezo</li>
            <li class="list-group-item"><i class="fa-solid fa-circle-check"></i> Weka na Toa pesa kwa mitandao yote ya
                simu</li>
        </ul>
        <div class="card-body link-cont">
            <a href="/betway/register" rel="nofollow noopener" target="_blank" class="card-link">Jisajili Sasa</a>
            <a href="/betway/register" rel="nofollow noopener" target="_blank" class="card-link">Bonus 100%</a>
        </div>
    </div>
</li>

<li class="list-kampani">
    <div class="card">
        <img src="/imgs/kampuni/meridian360x203.jpg" class="card-img-top" alt="Bonus MeridianBet Tanzania"
            onclick="window.open('/meridian/register')">
        <div class="card-body">
            <h5 class="card-title">MeridianBet Tanzania</h5>
            <div class="prm">
                <b style="color: red;">Promocode: </b> <span style="font-size: 20px;">5206</span>
            </div>
            <p class="card-text">
                Kampuni inayofuata katika list hii ya uchambuzi wetu wa kampuni bora za Betting
                Tanzania ni MeridianBet. Hii ni mojawapo mwa kampuni kongwe nchini Tanzania na yenye maduka ya ubashiri
                nchi nzima
            </p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><i class="fa-solid fa-circle-check"></i> Machaguo mengi ya kubashiri</li>
            <li class="list-group-item"><i class="fa-solid fa-circle-check"></i> Bonus ya 200% kwa mteja mpya kwenye
                deposit ya kwanza</li>
            <li class="list-group-item"><i class="fa-solid fa-circle-check"></i> Tsh. 3,500/= bure ukijisajili kwa mara
                ya kwanza</li>
            <li class="list-group-item"><i class="fa-solid fa-circle-check"></i> Fast bet. Tengeneza mkeka online na
                unaweza kuprint kwenye duka lolote la MeridianBet Tanzania</li>
            <li class="list-group-item"><i class="fa-solid fa-circle-check"></i> Online Ticket Payout. Shinda bet yako
                ya kwenye karatasi kutoka dukani na ulipwe mtandaoni</li>
            <li class="list-group-item"><i class="fa-solid fa-circle-check"></i> Cash-out (Turbo) inapatikana muda wote
            </li>
            <li class="list-group-item"><i class="fa-solid fa-circle-check"></i> Inatoa BetBuilder. Tumia BetBuilder
                kubet machaguo zaidi ya moja kwenye mechi moja</li>
            <li class="list-group-item"><i class="fa-solid fa-circle-check"></i> Weka na Toa pesa kwenye account yako
                kwa mitandao yote ya simu</li>
        </ul>
        <div class="card-body link-cont">
            <a href="/meridian/register" rel="nofollow noopener" target="_blank" class="card-link">Jisajili Sasa</a>
            <a href="/meridian/register" rel="nofollow noopener" target="_blank" class="card-link">Bonus 200%</a>
        </div>
    </div>
</li>