<div class="summary-cta d-flex flex-column flex-md-row align-items-stretch align-items-md-center gap-2 gap-md-3 mt-3">
    <div class="promo small flex-grow-1 text-muted text-center">* Pata Tsh. 2,000 BURE! Kwa Kujisajili Leo
    </div>
    <div class="cta-wrap">
        <button class="btn btn-success btn-lg px-4 rounded-pill cta-btn w-100 w-md-auto mb-2"
            onclick="window.open('/betway/register')">
            CHUKUA 2,000 BURE!<i class="fa-solid fa-up-right-from-square ms-2"></i>
        </button>
    </div>
</div>