<div class="aff">
    <div class="blogo" onclick="window.open('/leonbet/register')">LeonBet Tanzania | 5,000 TZS BURE! ⚡</div>
    <div class="h4left">
        <i class="fa-solid fa-circle-check"></i>
        Tsh. 5,000 BURE! Ukipakuwa App Yetu
    </div>
    <div class="h4left">
        <i class="fa-solid fa-circle-check"></i>
        FreeBets kwa mikeka minne ya kwanza
    </div>
    <div class="h4left">
        <i class="fa-solid fa-circle-check"></i>
        Rudishiwa 10% kila siku ukideposit
    </div>
    <div class="h4left">
        <i class="fa-solid fa-circle-check"></i>
        Cashout inapatikana mda wote
    </div>
    <div class="sasa">
        <button onclick="window.open('/leonbet/register')"><i class="fa-solid fa-user"></i> BONYEZA KUJISAJILI &nbsp; <i class="fa-solid fa-up-right-from-square"></i></button>
        <br>
        <div style="font-size: 8px;">© vigezo na masharti kuzingatiwa</div>
    </div>
</div>