<div class="aff">
    <div class="comp"><b>BetWay Tanzania</b></div>
    <div class="affh4">
        <i class="fa-solid fa-circle-check"></i>
        Bonus ya 100% kwa mteja mpya!
    </div>
    <div class="affh4">
        <i class="fa-solid fa-circle-check"></i>
        Bonus ya hadi 700% kwenye mkeka wako
    </div>
    <div class="affh4">
        <i class="fa-solid fa-circle-check"></i>
        Bilionea Jackpot. Bilioni 5 kwa BUKU TU!
    </div>
    <div class="affh4">
        <i class="fa-solid fa-circle-check"></i>
        Aviator Ofa. Bashiri za bure kila siku!
    </div>
    <div class="sasa">
        <button onclick="window.open('/betway-tz/register')"><i class="fa-solid fa-user"></i> BONYEZA KUJISAJILI &nbsp;
            <i class="fa-solid fa-square-arrow-up-right"></i></button>
        <br>
    </div>
</div>