<br><br>
<div class="ad pmatchtz" onclick="window.open('/betway/register')">
    <img src="https://shmd.b-cdn.net/mkekawaleo/bw-freebet.webp" loading="lazy" alt="Freebet Betway Tsh. 20,000" style="width: 99%; max-width: 480px; height: 320px;">
    <div class="cap">Freebet ya <b>Tsh. 20,000/=</b> ukijisajili na kubet na Betway leo!</div>
</div>
<br><br>