<div class="ad pmatchtz" onclick="window.open('/betway-casino/register')">
    <img src="/imgs/bw-avi.webp" height="227" style="height: 227px; width: 98%;" alt="Cheza Aviator Betway Tanzania | Ushindi Kila Dakika">
    <div class="cap" style="width: 98%;">Cheza Aviator sasa na Betway Tanzania. <b>Samsung 24</b> kushindaniwa kila wiki!</div>
</div>

<!-- <div id="" class="ad pmatchtz" onclick="window.open('/betway-freebet/register')">
    <img src="/imgs/bway2000.webp" alt="BetWay - Pokea hadi Tsh. 20,000 Freebet ukibeti leo">
    <div class="cap"><b>Beti ya BURE hadi Tsh. 20,000.</b> Deposit na ubeti angalau TSH 2,000 kwenye mechi yoyote, na upate bonasi ya 100% hadi TSH 20,000. <b>Wahi Ofa Hii Sasa!</b></div>
</div> -->
<br>