<div class="ad pmatchtz" onclick="window.open('/betway/register')" style="width: 100%; text-align: center; margin: 12px auto 16px auto; border-radius: 4px;cursor: pointer;">
    <img src="/imgs/bet100.webp" loading="lazy" alt="Bet kwa Tsh. 100 Tu!" style="border-radius: 4px; width: 98%; max-width: 300px;">
    <div style="font-size: 12px;">Bet kwa Tsh. 100 Tu!</div>
</div>
<br><br>