<br><br>
<div id="cas250" class="ad pmatchtz" onclick="window.open('/betway-arsenal/register')">
    <img src="/imgs/arsenal.webp" alt="BetWay - Bashiri mechi za Arsenal shinda zawadi na tiketi kucheza Emirates">
    <h4 class="cap"><b>Arsenal Xclusives!</b> Shinda Jezi 3 za Arsenal pamoja na Tsh. 10,000 BURE! Kwa kubeti mechi yoyote ya Arsenal. <b>Jiunge na Ofa Hii Sasa!</b></h4>
</div>
<div id="j4" class="ad pmatchtz" onclick="window.open('/betway/register')">
    <img src="/imgs/j4-bw.webp" alt="Pata Zaidi Kila Ukiweka Pesa na Betway">
    <h4 class="cap">Jumanne, <b>Weka Tuweke!</b> Pata zaidi ukiweka pesa kwenye account yako leo!</h4>
</div>
<br><br>


<script>
    function showAds() {
        let cas250 = document.getElementById('cas250');
        let j4 = document.getElementById('j4');
        let d = new Date().toLocaleString('en-GB', {timeZone: 'Africa/Nairobi', weekday: 'long'})

        if (d == "Tuesday") {
            j4.style.display = 'block';
            cas250.style.display = 'none';
        } else {
            cas250.style.display = 'block';
            j4.style.display = 'none';
        }
    }

    window.onload = showAds;
</script>

