<br><br>
<div class="ad pmatchtz" onclick="window.open('/betway/register')">
    <img src="/imgs/bw-freebet.webp" alt="Freebet Betway Tsh. 20,000" style="width: 99%; max-width: 500px;">
    <h4 class="cap">Freebet ya <b>Tsh. 20,000/=</b> ukijisajili na kubet na Betway leo!</h4>
</div>
<br><br>