<div class="ad pmatchtz" onclick="window.open('/betway-casino/register')">
    <img src="/imgs/kindege.webp" height="227" style="height: 227px; width: 98%;" alt="Cheza Aviator Betway Tanzania | Ushindi Kila Dakika">
    <div class="cap" style="width: 98%;">Cheza Aviator sasa na Betway Tanzania. <b>Samsung 24</b> kushindaniwa kila wiki!</div>
</div>