<div class="ad pmatchtz" onclick="window.open('/betway-casino/register')" style="width: fit-content;">
    <img src="/imgs/bw-avi.webp" width="320px" height="213px" alt="Cheza Aviator Betway Tanzania | Ushindi Kila Dakika">
    <div class="cap" style="width: 320px;">Cheza Aviator sasa na Betway Tanzania. <b>Samsung 24</b> kushindaniwa kila wiki!</div>
</div>