<!-- <div class="ad pmatchtz" onclick="window.open('/betway-casino/register')">
    <img src="/imgs/bw-avi.webp" height="227" style="height: 227px; width: 98%;" alt="Cheza Aviator Betway Tanzania | Ushindi Kila Dakika">
    <div class="cap" style="width: 98%;">Cheza Aviator sasa na Betway Tanzania. <b>Samsung 24</b> kushindaniwa kila wiki!</div>
</div> -->

<div class="ad pmatchtz shadow-lg rounded-3 position-relative overflow-hidden mb-3" style="cursor: pointer; transition: all 0.3s ease;" onclick="window.open('/betway/register')">
    <img src="/imgs/betway-balozi.webp" class="img-fluid w-100" style="object-fit: cover;" alt="BetWay - Bet Influencer Offer Tanzania">
    <div class="text-muted p-3 bg-light border-top" style="font-size: 14px; line-height: 1.5;">
        <b class="text-success fw-bold">#BetwayBalozi</b> NI RAHISI! Weka mkeka, share code na wana kisha upate <b class="fw-bold">asilimia 4%</b> kwa kila dau watakaloweka bila kujalisha matokeo ya mkeka 🔥🤑
    </div>
</div>
<br>