<footer>
    <div class="left">
        <h3>Mkeka wa Leo</h3>
        <h4 class="rights">©
            <script>document.write(new Date().getFullYear());</script> All rights reserved
        </h4>
    </div>
    <div class="right">
        <ul>
            <h4 class="h4">Resources</h4>
            <li><a href="/article/kampuni-bora-za-kubet-tanzania">Kampuni Bora za Betting Tanzania</a></li>
            <li><a href="/article/mbinu-za-kushinda-betting">Mbinu za Kushinda Betting</a></li>
            <li><a href="/">1st Half Multigoals Tips</a></li>
            <li><a href="/">Home / Away Multigoals Tips</a></li>
            <li><a href="/gsb/register" target="_blank">Gal Sport Betting Tips</a></li>
            <li><a href="/pmatch/register" target="_blank">Parimatch Tanzania Tips</a></li>
            <li><a href="/meridian/register" target="_blank">MeridianBet Tips</a></li>
            <h4 class="h4">Channels & Contacts</h4>
            <li><button id="tg">Telegram</button></li>
            <h4 class="h4">Business</h4>
            <li><button id="email">Email Us</button></li>
        </ul>
    </div>
</footer>

<script>
    let el = document.getElementById('tg')
    let email = document.getElementById('email')
    el.addEventListener('click', ()=> {
        window.open('https://t.me/+n7Tlh61oNjYyODU0')
    })
    email.addEventListener('click', ()=> {
        window.open('mailto:shemdoe@yandex.com')
    })
</script>