<footer>
    <div class="left">
        <h3>Mkeka wa Leo</h3>
        <h4 class="rights">©
            <script>document.write(new Date().getFullYear());</script> All rights reserved
        </h4>
    </div>
    <div class="right">
        <ul>
            <h4 class="h4">Resources</h4>
            <li><a href="/article/mbinu-za-kushinda-betting">Mbinu za Kushinda Betting</a></li>
            <li><a href="/">1st Half Multigoals Tips</a></li>
            <li><a href="/">Home / Away Multigoals Tips</a></li>
            <li><a href="/gsb/register" target="_blank">Gal Sport Betting Tips</a></li>
            <li><a href="/pmatch/register" target="_blank">Parimatch Tanzania Tips</a></li>
            <li><a href="/10bet/register" target="_blank">10bet Tips</a></li>
            <h4 class="h4">Contacts</h4>
            <li><button id="tg">Telegram</button></li>
        </ul>
    </div>
</footer>

<script>
    let el = document.getElementById('tg')
    el.addEventListener('click', ()=> {
        window.open('tg://resolve?domain=cute_helen255')
    })
</script>