<footer>
    <div class="left">
        <h3>Mkeka wa Leo</h3>
        <h4 class="rights">©
            <script>document.write(new Date().getFullYear());</script> All rights reserved
        </h4>
    </div>
    <div class="footer">
        <div class="leftside">
            <h4 class="h4">Channels & Contacts</h4>
            <ul style="list-style: none;">
                <li><a href="https://whatsapp.com/channel/0029Varb8MsFcow7AHYTL42h" target="_blank"><i
                            class="fa-brands fa-whatsapp"></i> WhatsApp</a></li>
                <li><a href="http://t.me/mkeka_wa_leo" target="_blank"><i class="fa-brands fa-telegram"></i>
                        Telegram</a></li>
            </ul>
            <h4 class="h4">Business</h4>
            <ul style="list-style: none;">
                <li><a href="mailto:support@mkekawaleo.com"><i class="fa-regular fa-envelope"></i> Email Us</a></li>
            </ul>
        </div>
        <div class="middle">
            <h4 class="h4">Mikeka Yetu ya Leo</h4>
            <ul style="list-style: none;">
                <li><a href="/mkeka/mega-odds-leo"><i class="fa-solid fa-futbol"></i> Mkeka | Mega Odds</a></li>
                <li>
                    <a href="/mkeka/over-15"><i class="fa-solid fa-futbol"></i> Mkeka | Over 1.5 Tips</a>
                </li>
                <li><a href="/mkeka/over-25"><i class="fa-solid fa-futbol"></i> Mkeka | Over 2.5 Tips</a></li>
                <li><a href="/mkeka/over-05-first-half"><i class="fa-solid fa-futbol"></i> Mkeka | Over 0.5 1st Half</a>
                </li>
                <li><a href="/mkeka/over-under-35"><i class="fa-solid fa-futbol"></i> Mkeka | Over/Under 3.5</a></li>
                <li><a href="/mkeka/betslip-ya-leo"><i class="fa-solid fa-futbol"></i> Betslip ya Siku (Sure 3)</a></li>
                <li><a href="/#supa-za-leo"><i class="fa-solid fa-futbol"></i> KEKA MIX Tips</a></li>
                <li><a href="https://mozapostas.com"><i class="fa-solid fa-futbol"></i> Moçambique Football
                        Predictions</a></li>
            </ul>
        </div>
        <div class="rightside">
            <h4 class="h4">Mikeka ya Wiki Nzima</h4>
            <ul style="list-style: none;">
                <li><a href="/mkeka/jumatatu"><i class="fa-solid fa-calendar-days"></i> Mkeka wa Jumatatu</a></li>
                <li><a href="/mkeka/jumanne"><i class="fa-solid fa-calendar-days"></i> Mkeka wa Jumanne</a></li>
                <li><a href="/mkeka/jumatano"><i class="fa-solid fa-calendar-days"></i> Mkeka wa Jumatano</a></li>
                <li><a href="/mkeka/alhamisi"><i class="fa-solid fa-calendar-days"></i> Mkeka wa Alhamisi</a>
                </li>
                <li><a href="/mkeka/ijumaa"><i class="fa-solid fa-calendar-days"></i> Mkeka wa Ijumaa</a></li>
                <li><a href="/mkeka/jumamosi"><i class="fa-solid fa-calendar-days"></i> Mkeka wa Jumamosi</a></li>
                <li><a href="/mkeka/jumapili"><i class="fa-solid fa-calendar-days"></i> Mkeka wa Jumapili</a></li>
            </ul>
        </div>
    </div>
    <div class="gaware" style="text-align: center;">
        <a aria-label="Link to begambleaware.org" href="https://www.begambleaware.org/" target="_blank"
            rel="noopener" style="text-decoration: none; font-weight: bold; font-size: 20px;">
            🔞<span class="blck" style="color: black;">Gamble</span><span class="orange"
                style="color: #fc6200;">Aware</span>
        </a>
    </div>
</footer>

<script>
</script>