<footer>
    <div class="left">
        <h3>Mkeka wa Leo</h3>
        <h4 class="rights">©
            <script>document.write(new Date().getFullYear());</script> All rights reserved
        </h4>
    </div>
    <div class="right">
        <ul>
            <h4 class="h4">Resources</h4>
            <li><a href="/mkeka/mega-odds-leo">Mkeka | Mega Odds</a></li>
            <li><a href="/mkeka/over-15">Mkeka | Over 1.5 Tips</a></li>
            <li><a href="/mkeka/over-25">Mkeka | Over 2.5 Tips</a></li>
            <li><a href="/mkeka/betslip-ya-leo">Betslip ya Siku (Sure 3)</a></li>
            <li><a href="/gsb/register" target="_blank">Ofa | Gal Sport Betting</a></li>
            <li><a href="/betway/register" target="_blank">Ofa | BetWay Tanzania</a></li>
            <li><a href="/pmatch/register" target="_blank">Ofa | Parimatch Tanzania</a></li>
            <li><a href="/meridian/register" target="_blank">Ofa | MeridianBet</a></li>
            <h4 class="h4">Channels & Contacts</h4>
            <li><button id="tg">Telegram</button></li>
            <h4 class="h4">Business</h4>
            <li><button id="email">Email Us</button></li>
        </ul>
    </div>
</footer>

<script>
    let el = document.getElementById('tg')
    let email = document.getElementById('email')
    el.addEventListener('click', ()=> {
        window.open('https://t.me/+n7Tlh61oNjYyODU0')
    })
    email.addEventListener('click', ()=> {
        window.open('mailto:shemdoe@yandex.com')
    })
</script>