<footer>
    <div class="left">
        <h3>Mkeka wa Leo</h3>
        <h4 class="rights">©
            <script>document.write(new Date().getFullYear());</script> All rights reserved
        </h4>
    </div>
    <div class="footer">
        <div class="leftside">
            <h4 class="h4">Channels & Contacts</h4>
            <ul style="list-style: none;">
                <li><a href="https://whatsapp.com/channel/0029Varb8MsFcow7AHYTL42h" target="_blank"><i
                            class="fa-brands fa-whatsapp"></i> WhatsApp</a></li>
                <li><a href="http://t.me/mkeka_wa_leo" target="_blank"><i class="fa-brands fa-telegram"></i>
                        Telegram</a></li>
            </ul>
            <h4 class="h4">Business</h4>
            <ul style="list-style: none;">
                <li><a href="mailto:support@mkekawaleo.com"><i class="fa-regular fa-envelope"></i> Email Us</a></li>
            </ul>
        </div>
        <div class="middle">
            <h4 class="h4">Mikeka Yetu ya Leo</h4>
            <ul style="list-style: none;">
                <li><a href="/mkeka/mega-odds-leo"><i class="fa-solid fa-futbol"></i> Mkeka | Mega Odds</a></li>
                <li>
                    <a href="/mkeka/over-15"><i class="fa-solid fa-futbol"></i> Mkeka | Over 1.5 Tips</a>
                </li>
                <li><a href="/mkeka/over-25"><i class="fa-solid fa-futbol"></i> Mkeka | Over 2.5 Tips</a></li>
                <li><a href="/mkeka/over-05-first-half"><i class="fa-solid fa-futbol"></i> Mkeka | Over 0.5 1st Half</a></li>
                <li><a href="/mkeka/over-under-35"><i class="fa-solid fa-futbol"></i> Mkeka | Over/Under 3.5</a></li>
                <li><a href="/mkeka/betslip-ya-leo"><i class="fa-solid fa-futbol"></i> Betslip ya Siku (Sure 3)</a></li>
                <li><a href="/#supa-za-leo"><i class="fa-solid fa-futbol"></i> KEKA MIX Tips</a></li>
                <li><a href="https://mozapostas.com"><i class="fa-solid fa-futbol"></i> Moçambique Football Predictions</a></li>
            </ul>
        </div>
        <div class="rightside">
            <h4 class="h4">Ofa za Makampuni</h4>
            <ul style="list-style: none;">
                <li><a href="/gsb/register" target="_blank"><i class="fa-solid fa-hand-holding-dollar"></i> Ofa | Gal Sport Betting</a></li>
                <li><a href="/betway/register" target="_blank"><i class="fa-solid fa-hand-holding-dollar"></i> Ofa | BetWay Tanzania</a></li>
                <li><a href="/leonbet/register" target="_blank"><i class="fa-solid fa-hand-holding-dollar"></i> Ofa | LeonBet Tanzania</a></li>
                <li><a href="/pmatch/register" target="_blank"><i class="fa-solid fa-hand-holding-dollar"></i> Ofa | Parimatch Tanzania</a></li>
                <li><a href="/meridian/register" target="_blank"><i class="fa-solid fa-hand-holding-dollar"></i> Ofa | MeridianBet</a></li>
            </ul>
        </div>
    </div>
</footer>

<script>
    
</script>