<header>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand brand" href="/">MKEKA wa LEO</a>
        </div>
      </nav>
</header>