<% if (typeof success_msg !== 'undefined' && success_msg.length > 0) { %>
<div class="p-2 alert alert-success" role="alert" style="font-size: 12px;"><%- success_msg %></div>
<% } %>

<% if (typeof error_msg !== 'undefined' && error_msg.length > 0) { %>
<div class="p-2 alert alert-danger" role="alert" style="font-size: 12px;"><%- error_msg %></div>
<% } %>

<% if (typeof error !== 'undefined' && error.length > 0) { %>
<div class="p-2 alert alert-danger" role="alert" style="font-size: 12px;"><%- error %></div>
<% } %>