<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel"><b style="font-size: 16px;">TSH. 2,OOO CHAPCHAP! 🔥🔥🔥</b></h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" style="text-align: justify;">
          Tunatoa Tsh. 2,000 BURE! Ukijisajili Leo na Tsh. 5,000 BURE! Ukidownload App Yetu.
          <br><br>
          <div style="width: 100%; height: fit-content;">
            <img src="/imgs/leonbet.webp" alt="Tsh. 5,000 Bure | Install LeonBet App" style="width: 100%;" onclick="window.open('/leonbet/register')">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" id="betBtn" class="btn btn-primary" style="background-color: green; border: green; color: white !important; padding: 14px 20px !important;"><b>CHUKUA OFA YAKO!</b></button>
        </div>
      </div>
    </div>
  </div>
  
  <script>
    // Function to show the modal after 30 seconds
    function showDelayedModal() {
      var myModal = new bootstrap.Modal(document.getElementById('exampleModal'));
      myModal.show();
    }
  
    // Set a timeout to call the function after 20 seconds
    setTimeout(showDelayedModal, 15000);
  
    // Add event listener to the button for opening an external link
    document.getElementById('betBtn').addEventListener('click', function() {
      window.open('/leonbet/register');
    });
  </script>