<section class="right">
    <h2 class="h2" style="font-size: 16px;">Bonasi na Ofa</h2>
    <section class="posts d-flex flex-column justify-content-center flex-wrap p-2">
        <div class="card border mb-4" onclick="RightOpen('betway')" style="cursor: pointer;">
            <img src="/ofa/bet100.webp" class="card-img-top" alt="Betway - Bet kuanzia Tsh. 100">
            <div class="card-body">
                <div class="text-decoration-none">
                    <h3 class="fs-5 text-secondary">
                        Bet Kuanzia Tsh. 100
                    </h3>
                    <p class="card-text text-muted" style="font-size: 13px; text-align: justify;">
                        Shinda hata kwa 100 tu. Beti mikeka yako leo ndani ya betway kwa dau la kuanzia Tsh. 100 na
                        ushinde beti zenye bonus ya hadi 700%
                    </p>
                </div>
            </div>
        </div>
        <div class="card border mb-4" onclick="RightOpen('gsb')" style="cursor: pointer;">
            <img src="/ofa/pick6.webp" class="card-img-top" alt="GSB Ofa - Beti Jackpot Bure">
            <div class="card-body">
                <div class="text-decoration-none">
                    <h3 class="fs-5 text-secondary">
                        FreePick6 - Beti Jackpot BURE!
                    </h3>
                    <p class="card-text text-muted" style="font-size: 13px; text-align: justify;">
                        Jitayarishe kwa changamoto kuu ya utabiri ukitumia FreePick6!

                        Karibu kwenye FreePick6, ambapo ujuzi wako wa kutabiri unaweza kukuongoza kwenye ushindi mkubwa!
                        Kila wiki, una nafasi ya kutabiri alama sahihi za michezo 6 ya soka liyochaguliwa na kushinda dau nono la hadi milioni 10
                    </p>
                </div>
            </div>
        </div>
        <div class="card border mb-4" onclick="RightOpen('gsb')" style="cursor: pointer;">
            <img src="/ofa/gsb100.webp" class="card-img-top" alt="Gal Sport Betting Ofa - 100% ofa ya ukaribisho" loading="lazy">
            <div class="card-body">
                <div class="text-decoration-none">
                    <h3 class="fs-5 text-secondary">
                        Ofa ya Ukaribisho 100%
                    </h3>
                    <p class="card-text text-muted" style="font-size: 13px; text-align: justify;">
                        Pata ofa ya ukaribisho ya hadi 1,000,000 kwenye deposit yako ya kwanza. Hii ndiyo njia mwafaka
                        ya kuanza nasi na kufurahia msisimko wa kubashiri katika michezo. Usikose ofa hii ya kusisimua,
                        jisajili leo na upate bonasi yako!
                    </p>
                </div>
            </div>
        </div>
        <div class="card border mb-4" onclick="RightOpen('leonbet')" style="cursor: pointer;">
            <img src="/ofa/leon5000.webp" class="card-img-top" alt="Leonbet Ofa - 5,000 BURE" loading="lazy">
            <div class="card-body">
                <div class="text-decoration-none">
                    <h3 class="fs-5 text-secondary">
                        5,000 BURE! Ofa ya App
                    </h3>
                    <p class="card-text text-muted" style="font-size: 13px; text-align: justify;">
                        Changamkia mchongo!
                        Pakua app ya Android ya LEON na upate bonasi ya 5,000 TZS kutumia kwenye michezo yote ya Sloti
                        na Live Casino.
                        Ni burudani bampa to bampa na LEON!
                    </p>
                </div>
            </div>
        </div>
        <div class="card border mb-4" onclick="RightOpen('leonbet')" style="cursor: pointer;">
            <img src="/ofa/leon10.webp" class="card-img-top" alt="Leonbet Ofa - Rudishiwa 10%" loading="lazy">
            <div class="card-body">
                <div class="text-decoration-none">
                    <h3 class="fs-5 text-secondary">
                        Rudishiwa 10% Kila Siku
                    </h3>
                    <p class="card-text text-muted" style="font-size: 13px; text-align: justify;">
                        Sloti kumenoga, cheza bila wasiwasi na Urudishiwe 10% Kila Siku.
                        Cheza michezo sloti uipendayo na urudishiwe dau lako hadi 560,000 TZS kila siku.
                        Usikae kinyonge, cheza sloti na ushinde zawadi deile!
                    </p>
                </div>
            </div>
        </div>
    </section>
    <br><br><br>
</section>

<script>
    function RightOpen(e) {
        let url = `/${e}/register`
        window.open(url, '_self')
    }
</script>