<section class="right">
    <h2 class="h2" style="font-size: 16px;">🎁 Bonuses & Offers</h2>
    <div class="cont">
        <div class="num kitu" itemscope>
            <h3 itemprop="brand">⚽️ GAL SPORT BETTING</h3>
            <a href="/gsb/register" class="phn">
                https://gsb.co.tz/
            </a>
        </div>
        <div class="num kitu" itemscope>
            <h3 itemprop="brand">100% First Deposit Bonus</h3>
            <a href="/gsb/register" class="phn">
                GRAB BONUS 🎁
            </a>
        </div>
        <div class="num kitu" itemscope>
            <h3 itemprop="brand">⚽️ 10BET</h3>
            <a href="/10bet/register" target="_blank" class="latra" itemprop="url">
                Jisajili 10bet
            </a>
        </div>
    </div>
</section>