<section class="right">
    <h2 class="h2" style="font-size: 16px;">🎁 Bonuses & Offers</h2>
    <div class="cont">
        <div class="num kitu" itemscope>
            <h3 itemprop="brand">⚽️ GAL SPORT BETTING</h3>
            <a href="/gsb/register" class="phn">
                <i class="fa-solid fa-square-arrow-up-right"></i>
                https://gsb.co.tz/
            </a>
        </div>
        <div class="num kitu" itemscope>
            <h3 itemprop="brand">100% First Deposit Bonus</h3>
            <a href="/gsb/register" class="phn">
                <i class="fa-solid fa-square-arrow-up-right"></i>
                PATA BONUS 🎁
            </a>
        </div>
        <div class="num kitu" itemscope>
            <h3 itemprop="brand">⚽️ PariMatch (150% on 1st Deposit)</h3>
            <a href="/pmatch/register" target="_blank" class="latra" itemprop="url">
                <i class="fa-solid fa-square-arrow-up-right"></i>
                JISAJILI PARIMATCH
            </a>
        </div>
        <div class="num kitu" itemscope>
            <h3 itemprop="brand">BetBuilder na MeridianBet</h3>
            <a href="/meridian/register" target="_blank" class="latra" itemprop="url">
                <i class="fa-solid fa-square-arrow-up-right"></i>
                BET BETBUILDER SASA
            </a>
        </div>
        <div class="num kitu" itemscope>
            <h3 itemprop="brand">💰 Shinda TV na Pesa Taslimu</h3>
            <a href="/betway/register" target="_blank" class="latra" itemprop="url">
                <i class="fa-solid fa-square-arrow-up-right"></i>
                SHINDA SASA
            </a>
        </div>
        <div class="num kitu" itemscope>
            <h3 itemprop="brand">💰 Chukua Ts. 2,000 Bure</h3>
            <a href="/premier/register" target="_blank" class="latra" itemprop="url">
                <i class="fa-solid fa-square-arrow-up-right"></i>
                DAKA OFA YAKO SASA
            </a>
        </div>
    </div>
</section>