<div class="soma-pia">
    <h2 class="h2" id="maana-vifupi" style="font-size: 18px;">Angalia Pia</h2>
    <ul style="list-style: none;">
        <li id="mega-odds">
            <a href="/mkeka/mega-odds-leo">
                <h3>Mega Odds za Leo | Acca Tips</h3>
                <p>Angalia mega odds za leo. Acca Tips zenye nafasi kubwa ya ushindi le...</p>
            </a>
        </li>
        <li id="over15">
            <a href="/mkeka/over-15">
                <h3>Mikeka ya Over 1.5</h3>
                <p>Angalia mikeka yetu ya leo ya Over 1.5 na mbinu za kushinda mikeka hii...</p>
            </a>
        </li>
        <li id="over25">
            <a href="/mkeka/over-25">
                <h3>Mikeka ya Over 2.5</h3>
                <p>Angalia mikeka yetu ya leo ya Over 2.5 na mbinu za kushinda mikeka hii...</p>
            </a>
        </li>
        <li id="over05">
            <a href="/mkeka/over-05-first-half">
                <h3>Mikeka ya Over 0.5 First Half</h3>
                <p>Angalia mikeka yetu ya leo ya Over 0.5 kipindi cha kwanza, ligi nzuri na mbinu za kushinda mikeka hii...</p>
            </a>
        </li>
        <li id="betslip">
            <a href="/mkeka/betslip-ya-leo">
                <h3>Sure 3 | Betslip ya Siku</h3>
                <p>Angalia Odds 3 za uhakika leo. Hii hapa betslip ya siku yenye odds za uhakika 3 leo...</p>
            </a>
        </li>
        <li id="over35">
            <a href="/mkeka/over-under-35">
                <h3>Mikeka ya Over/Under 3.5</h3>
                <p>Angalia mikeka yetu ya leo ya Over/Under 3.5, ligi na mbinu za kushinda mikeka hii</p>
            </a>
        </li>
        <li>
            <a href="/article/kampuni-bora-za-kubet-tanzania">
                <h3>Kampuni Bora za Betting Tanzania</h3>
                <p>Angalia list ya kampuni bora 5 za betting Tanzania kwa mwaka huu...</p>
            </a>
        </li>
        <li>
            <a href="/article/mbinu-za-kushinda-betting">
                <h3>Mbinu za Kushinda Betting</h3>
                <p>Jifunze mbinu za kushinda betting zako na uondokane na hasara za mara kwa mara...</p>
            </a>
        </li>
    </ul>
</div>