<nav class="wc-nav" aria-label="World Cup pages">
    <a href="/football/kombe-la-dunia" class="<%= partials.section === 'standings' ? 'active' : '' %>">
        <i class="fa-solid fa-table"></i>
        Msimamo
    </a>
    <a href="/football/kombe-la-dunia/ratiba" class="<%= partials.section === 'fixtures' ? 'active' : '' %>">
        <i class="fa-regular fa-calendar-days"></i>
        Ratiba na Matokeo
    </a>
    <a href="/football/kombe-la-dunia/wafungaji-bora" class="<%= partials.section === 'scorers' ? 'active' : '' %>">
        <i class="fa-solid fa-futbol"></i>
        Wafungaji Bora
    </a>
    <a href="/football/kombe-la-dunia/assist-bora" class="<%= partials.section === 'assists' ? 'active' : '' %>">
        <i class="fa-solid fa-handshake-angle"></i>
        Watoa Assist Bora
    </a>
</nav>
