<h2 class="h2 fs-6 mb-3">Utangulizi</h2>
<div class="utangulizi p-2 text-align-justify">
    <p>
        Hapa tunaangazia Watoa Asisti Bora Ligi Kuu ya NBC Tanzania Bara 2024/2025, ambako tutashuhudia ubunifu na
        vipaji vinavyoleta burudani ya kipekee kwenye soka la Tanzania. Msimu huu, viungo na washambuliaji mahiri kutoka
        klabu mbalimbali kama Simba, Yanga, Azam FC, na zingine, wamejituma kutengeneza nafasi muhimu za mabao. Hapa,
        utapata takwimu, uchambuzi wa mbinu za baadhi ya wachezaji mahiri, na namna wanavyochangia mafanikio ya timu
        zao. Fuatilia hapa ili kujua ni nani anayebeba taji la mtaalamu wa kutoa asisti msimu huu wa 2024/2025.
    </p>
    <p>
        Hadi sasa, <%= top_assists[0].playerName %> wa <%= top_assists[0].club %> na <%= top_assists[1].playerName %> wa
                    <%= top_assists[1].club %> wanaongoza kwa utoaji assist NBC msimu huu.
    </p>
</div>