<div>
    <h2 class="h2" style="font-size: 16px;">Maana ya Under/Over 3.5</h2>
    <p class="p">
        <b class="brown">Over 3.5:</b> Over 3.5 hapa tunatabiri jumla ya magoli manne au zaidi kupatikana
        katika mechi husika. Mfano wa matokeo ya ushindi ni: <b>2:2, 3:1, 3:2, 4:0, 4:1, 4:2, 4:3, 5:0, 5:1, 5:2, 5:3, 6:0, 6:1, 6:2, n.k.</b>
    </p>
    <p class="p">
        <b class="brown">Under 3.5:</b> Under 3.5 hapa tunatabiri jumla ya magoli yote kwenye mechi husika
        yawe chini ya manne, tofauti na hapo tumepoteza. Mfano wa matokeo ya ushindi ni: <b>0:0, 1:0, 1:1, 2:0, 2:1, 3:0</b>
    </p>
</div>