<div class="aff">
    <h4 class="comp"><b>888bet (kubwa lao 🤑)</b></h4>
    <h4>
        <i class="fa-solid fa-circle-check"></i>
        Bonus ya 100%, weka 10k pata 20k bure
    </h4>
    <h4>
        <i class="fa-solid fa-circle-check"></i>
        Karibu ofa ya AVIATOR ✈ - Pata bashiri ya bure ya Aviator hadi Tsh. 10,000 unapoweka pesa kwa mara ya kwanza!
    </h4>
    <h4>
        <i class="fa-solid fa-circle-check"></i>
        Aviator Rain. Bashiri za bure kila siku! Tsh. 4,200,000 Kila Wiki!
    </h4>
    <div class="sasa">
        <button onclick="window.open('/888bet/register')"><i class="fa-solid fa-user"></i> BONYEZA HAPA KUJISAJILI
            <i class="fa-solid fa-square-arrow-up-right"></i></button>
        <br>
    </div>
</div>