<div class="aff">
    <h4 class="comp"><b>PremierBet (baba lao 🤑)</b></h4>
    <h4>
        <i class="fa-solid fa-circle-check"></i>
        Bonus ya 150%, weka 10k pata 15k bure
    </h4>
    <h4>
        <i class="fa-solid fa-circle-check"></i>
        Jackpot ya mechi 6. Shinda Tsh. 60,000,000/=
    </h4>
    <h4>
        <i class="fa-solid fa-circle-check"></i>
        Betslip yenye bonus hadi 1000%
    </h4>
    <h4>
        <i class="fa-solid fa-circle-check"></i>
        Tsh. 2,000/= bure kila siku
    </h4>
    <div class="sasa">
        <button onclick="window.open('/premier/register')"><i class="fa-solid fa-user"></i> BONYEZA HAPA KUJISAJILI
            <i class="fa-solid fa-square-arrow-up-right"></i></button>
        <br>
    </div>
</div>