<div class="maana">
    <h2 class="h2" id="maana-vifupi" style="font-size: 16px; color: #ff9900;">VIP MIKEKA <i class="fa-solid fa-crown"></i></h2>
    <p class="p">
        <b>VIP MIKEKA:</b> Pata mikeka yetu ya VIP kila siku. Tunatoa mikeka minne ya VIP kila siku yenye hadi 95% za ushindi.
        <br><br>
        <a href="/mkeka/vip" id="vip_btn2" class="vip" style="font-family: sans-serif; background-color: #ff9900;">
            <i class="fa-solid fa-crown"></i>
            VIP SLIPS
        </a>
    </p>
</div>
<div class="maana">
    <h2 class="h2" id="maana-vifupi" style="font-size: 16px;">Mkeka wa Leo | WhatsApp Channel <i class="fa-brands fa-whatsapp"></i></h2>
    <p class="p">
        <b>Sasa Tupo WhatsApp</b> Jiunge na channel yetu ya WhatsApp na uwe wa kwanza kupata mikeka yetu ya kila siku. Huku tunatoa mikeka na booking codes za uhakika <b>BURE!</b> <br><br>Kujiunga na channel yetu bonyeza button hapa chini
        <br><br>
        <a href="https://whatsapp.com/channel/0029Varb8MsFcow7AHYTL42h" target="_blank" rel="noopener noreferrer" id="vip_btn" class="vip" style="font-family: sans-serif;">
            <i class="fa-brands fa-whatsapp"></i>
            JIUNGE SASA!
        </a>
    </p>
</div>