<div class="maana">
    <h2 class="h2" id="maana-vifupi" style="font-size: 16px;">VIP TIPS <i class="fa-solid fa-crown"></i></h2>
    <p class="p">
        <b>VIP TIPS</b> ni mikeka yetu yenye nafasi ya juu kabisa ya ushindi. Hii ni mikeka inayoandaliwa kila siku na wachambuzi wetu na kuwekwa katika group la <b>Mikeka ya Leo VIP WhatsApp</b> <br><br>Kupata mikeka hii, bonyeza button hapa chini
        <br><br>
        <button id="vip_btn" class="vip">VIP TIPS <i class="fa-solid fa-crown"></i></button>
    </p>
</div>

<script>
    document.getElementById('vip_btn').addEventListener('click', ()=> {
        window.open('/mkeka/vip', '_self')
    })
</script>