<br>
<section class="faq">
    <h2 class="h2 fs-6">Maswali Yalioulizwa Mara kwa Mara</h2>
    <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
          <h3 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
              Ligi Kuu ya Uingereza (EPL) ina jumla ya timu ngapi?
            </button>
          </h3>
          <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">
              <p>
                Ligi kuu ya Uingereza kwa msimu wa 2024/2025 ina jumla ya timu 20 ambapo kati ya hizo, timu inayoshikilia nafasi ya 1,2,3 na 4 zitashiriki UEFA Champions League na timu inayoshikilia nafasi ya 5 itashiriki Europa League.
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h3 class="accordion-header" id="panelsStayOpen-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
              Nini maana ya Relegation kwenye msimamo wa Ligi Kuu Uingereza (EPL)?
            </button>
          </h3>
          <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
            <div class="accordion-body">
              <p>
                Katika msimamo wa ligi kuu ya EPL, "<b>Relegation</b>" inahusu timu nne zinazoshika nafasi ya chini kabisa kwenye msimamo wa ligi kufuatia mwisho wa msimu. Timu hizi hushushwa kutoka ligi kuu na kwenda Championship (England Championship)
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h3 class="accordion-header" id="panelsStayOpen-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
              Msimu wa 2024/2025 wa EPL / Ligi Kuu ya Uingereza ulianza lini?
            </button>
          </h3>
          <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
            <div class="accordion-body">
              <p>Ratiba ya Ligi Kuu ya NBC Bara 2024/2025 ilianza tarehe 16/08/2024 saa nne usiku (10:00 PM) kwa mechi ya ufunguzi kati ya <b>Manchester United</b> na <b>Fulham</b> iliyoisha kwa Manchester United kushinda <b>1:0</b></p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
            <h3 class="accordion-header" id="panelsStayOpen-headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                Timu zipi zinaongoza kwa makombe mengi ya Ligi kuu ya Uingereza (EPL)?
              </button>
            </h3>
            <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
              <div class="accordion-body">
                <p>Timu tatu vinara wa mara kwa mara kwa ligi kuu ya Uingereza hadi 2023/2024 ni <b>Manchester United, Liverpool na Arsenal</b></p>
                <h4>Mataji yao ni kama ifuatavyo:</h4>
                <ol>
                    <li>Manchester United inaongoza kwa mataji/makombe ya ligi kuu ya Uingereza ikiwa na jumla ya mataji 20 hadi kufikia mwisho wa msimu wa 2023/2024</li>
                    <li>Liverpool Inafuatia ikiwa na jumla ya mataji 19 ya EPL</li>
                    <li>Arsenal Inafuatia ikiwa na jumla ya mataji 13</li>
                </ol>
              </div>
            </div>
          </div>
      </div>
</section>